*.*
Makefile
!.gitignore
!*/src/**/*.h
!*/src/**/*.c
!*/README.txt
!*/README_DOXYGEN.txt
!*/apparking_logo.png
!*/parking_state_machine.png
platform_config.h
platform.h
platform.c
!parking_vga/build_win32.bat
!parking_vga/.project
!parking_vga/.cproject
!parking_vga/parking.json
!parking_vga/parking.bmp
parking_vga_bootloader
SDL2